<h1>Reports</h1>

<h2>Average Listing Selling price per seller type</h2>

<h2>Distribution (in percent) of available cars by Make</h2>

<h2>Average price of the 30% most contacted listings</h2>

<h2>The Top 5 most contacted listings per Month</h2>

<form method="POST" action="/upload" enctype="multipart/form-data">
  <input type="file" name="csv" />
  <button>Upload</button>
</form>
